<aside>

    <div class="widget">
        <h3>Iniciar sesión</h3>

        <form>
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Entrar">
        </form>
    </div>

    <div class="widget">
        <h3>Últimas entradas</h3>

        <ul>
            <li>
                <a href="https://www.udgvirtual.udg.mx/noticia/fortalecen-trabajos-academicos-gestion-aprendizaje">Fortalecen trabajos académicos en torno a la gestión del aprendizaje en ambientes virtuales</a>
            </li>
        </ul>

        <ul>
            <li>
                <a href="https://www.udgvirtual.udg.mx/noticia/fim-gdl-2024-charlas-festival-portamerica-presencia-patti-smith">Llega FIM GDL 2024 con charlas, Festival Portamérica y la presencia de Patti Smith</a>
            </li>
        </ul>

        <ul>
            <li>
                <a href="https://www.udgvirtual.udg.mx/noticia/egresada-udgvirtual-busca-impulsar-periodismo-salud-sitio-web-especializado">Egresada de UDGVirtual busca impulsar el periodismo de salud con sitio web especializado</a>
            </li>
        </ul>

        <ul>
            <li>
                <a href="https://www.udgvirtual.udg.mx/noticia/inician-clases-mas-de-5-mil-600-estudiantes-udgvirtual">Inician clases más de 5 mil 600 estudiantes de UDGVirtual</a>
            </li>
        </ul>
    </div>

    <div class="widget">
        <h3>Frase del día</h3>

        <blockquote>La mejor manera de ser un desarrollador es escribir código y estudiar grandes programas que otras personas han escrito </blockquote>
    </div>

</aside>