<section id="content">
    <h1>Últimas Noticias</h1>

    <article>
        <h2>Fortalecen trabajos académicos en torno a la gestión del aprendizaje en ambientes virtuales</h2>
        <p>UDGVirtual forma expertos con su posgrado 100 por ciento en línea, especializado en este campo de estudio
            Uso de ambientes virtuales de aprendizaje, reducción de la brecha digital, narraciones transmedia, alfabetización digital, estrategias de mejora de la práctica docente y el desarrollo de competencias digitales, son algunos temas de los proyectos que estudiantes y egresados de la maestría en Gestión del Aprendizaje en Ambientes Virtuales de UDGVirtual, presentaron durante el Coloquio 2023-B, realizado del 9 al 13 de enero.
            
            De acuerdo con la maestra Paola Mercado Lozano, coordinadora del posgrado, el objetivo de este coloquio fue brindar un espacio de retroalimentación de las propuestas de estudiantes a partir de su presentación ante la planta académica, otros estudiantes y egresados del programa...</p>
        <a href="https://www.udgvirtual.udg.mx/noticia/fortalecen-trabajos-academicos-gestion-aprendizaje">Leer más >></a>
    </article>


    <article>
         <h2>Llega FIM GDL 2024 con charlas, Festival Portamérica y la presencia de Patti Smith</h2>
         <p>
            El encuentro se realizará del 28 de febrero al 2 de marzo en el Conjunto Santander de Artes Escénicas, con encuentros para la industria musical y todo público
            Música en vivo, gastronomía, charlas en pro de mejores prácticas en la comunidad de la industria musical y la presencia de la leyenda musical Patti Smith son los platos fuertes que ofrece la Feria Internacional de la Música de la Universidad de Guadalajara (FIM GDL).
            
            Del 28 de febrero al 2 de marzo, el Conjunto Santander de Artes Escénicas (CSAE) será sede de una serie de actividades dirigidas a músicos y actores de la industria musical; pero también para todo público.</p>
         <a href="https://www.udgvirtual.udg.mx/noticia/fim-gdl-2024-charlas-festival-portamerica-presencia-patti-smith">Leer más >></a>
    </article>

   
    <article>
        <h2>Egresada de UDGVirtual busca impulsar el periodismo de salud con sitio web especializado</h2>
        <p>Desarrolló su proyecto en la maestría en Periodismo Digital de UDGVirtual
            Crear un espacio dedicado al periodismo especializado en salud en el estado de Jalisco fue el propósito del proyecto que desarrolló Maricarmen Rello Velázquez, durante la maestría en Periodismo Digital de UDGVirtual.
            
            La periodista, quien lleva más de 20 años cubriendo la fuente de salud, identificó un vacío en el panorama digital, donde a pesar de la presencia de noticias de salud en diversos medios, no existía un sitio específico focalizado en esta temática para la localidad.</p>
        <a href="https://www.udgvirtual.udg.mx/noticia/egresada-udgvirtual-busca-impulsar-periodismo-salud-sitio-web-especializado">Leer más >></a>
   </article>


</section>